<a href="https://colab.research.google.com/github/MahediBuilds/AILab/blob/main/Lab%200/AILab0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Practice program

In [ ]:
def sum(a, b):
  c = a + b
  return c

def product(a, b):
  c = a * b
  return c

def subtraction(a, b):
  c = a - b
  return c

def division(a, b):
  c = a / b
  return c

def main():
  print("Welcome")
  a = int(input("num 1 :"))
  b = int(input("num 2 : "))

  option = input("Choose the operation : ")

  if(option == "+"):
    print(a ," + ", b, " = ", sum(a, b))
  elif(option == "-"):
    print(a ," - ", b, " = ", subtraction(a, b))
  elif(option == "*"):
    print(a ," * ", b, " = ", product(a, b))
  elif(option == "/"):
    print(a ," / ", b, " = ", division(a, b))
  else:
    print("Unidentified symbol")

main()

Welcome
num 1 :3
num 2 : 5
Choose the operation : +
3  +  5  =  8

Write a program to find largest of three numbers. Take input from user

In [ ]:
def Largest(a, b, c):
  largest = a
  if(b > a):
    largest = b
  if(c > a):
    largest = c

  return largest

def main():
  a = int(input("Num 1 : "))
  b = int(input("Num 2 : "))
  c = int(input("Num 3 : "))

  print("The largest is : ", Largest(a, b, c))

main()

Num 1 : 2
Num 2 : 4
Num 3 : 10
The largest is :  10

Write mulitplication table from 1 to 10

In [ ]:
def genTable(a):
  print(a, "'s Table")
  for i in range(1, 11):
    result = a * i
    print(a, " * ", i, " \t= ", result)


def main():
  for i in range(1, 11):
    genTable(i)
    print()

main()

1 's Table
1  *  1  	=  1
1  *  2  	=  2
1  *  3  	=  3
1  *  4  	=  4
1  *  5  	=  5
1  *  6  	=  6
1  *  7  	=  7
1  *  8  	=  8
1  *  9  	=  9
1  *  10  	=  10

2 's Table
2  *  1  	=  2
2  *  2  	=  4
2  *  3  	=  6
2  *  4  	=  8
2  *  5  	=  10
2  *  6  	=  12
2  *  7  	=  14
2  *  8  	=  16
2  *  9  	=  18
2  *  10  	=  20

3 's Table
3  *  1  	=  3
3  *  2  	=  6
3  *  3  	=  9
3  *  4  	=  12
3  *  5  	=  15
3  *  6  	=  18
3  *  7  	=  21
3  *  8  	=  24
3  *  9  	=  27
3  *  10  	=  30

4 's Table
4  *  1  	=  4
4  *  2  	=  8
4  *  3  	=  12
4  *  4  	=  16
4  *  5  	=  20
4  *  6  	=  24
4  *  7  	=  28
4  *  8  	=  32
4  *  9  	=  36
4  *  10  	=  40

5 's Table
5  *  1  	=  5
5  *  2  	=  10
5  *  3  	=  15
5  *  4  	=  20
5  *  5  	=  25
5  *  6  	=  30
5  *  7  	=  35
5  *  8  	=  40
5  *  9  	=  45
5  *  10  	=  50

6 's Table
6  *  1  	=  6
6  *  2  	=  12
6  *  3  	=  18
6  *  4  	=  24
6  *  5  	=  30
6  *  6  	=  36
6  *  7  	=  42
6  *  8  	=  48
6  *  9  	=  54
6  *  10  	=  60

7 's Table
7  *  1  	=  7
7  *  2  	=  14
7  *  3  	=  21
7  *  4  	=  28
7  *  5  	=  35
7  *  6  	=  42
7  *  7  	=  49
7  *  8  	=  56
7  *  9  	=  63
7  *  10  	=  70

8 's Table
8  *  1  	=  8
8  *  2  	=  16
8  *  3  	=  24
8  *  4  	=  32
8  *  5  	=  40
8  *  6  	=  48
8  *  7  	=  56
8  *  8  	=  64
8  *  9  	=  72
8  *  10  	=  80

9 's Table
9  *  1  	=  9
9  *  2  	=  18
9  *  3  	=  27
9  *  4  	=  36
9  *  5  	=  45
9  *  6  	=  54
9  *  7  	=  63
9  *  8  	=  72
9  *  9  	=  81
9  *  10  	=  90

10 's Table
10  *  1  	=  10
10  *  2  	=  20
10  *  3  	=  30
10  *  4  	=  40
10  *  5  	=  50
10  *  6  	=  60
10  *  7  	=  70
10  *  8  	=  80
10  *  9  	=  90
10  *  10  	=  100

Find factorial of a number using recursion

In [ ]:
def Factorial(a):
  if(a == 1):
    return 1
  else:
    return a * Factorial(a - 1)

def Main():
  a = int(input("Num : "))
  print(Factorial(a))

Main()

Num : 4
24

Create a dictonary of 5 different countries along with their capital cities

In [ ]:
Counties = {
    "India" : "New Delhi",
    "Qatar" : "Doha",
    "Oman" : "Muscut",
    "China" : "Beijing",
    "Thailand" : "Bangkok",
}

print(Counties)

{'India': 'New Delhi', 'Qatar': 'Doha', 'Oman': 'Muscut', 'China': 'Beijing', 'Thailand': 'Bangkok'}

Create a list of 10 students and apply the methods append, extend, remove, del and pop

In [ ]:
students = ["Vijeth", "Vikas", "Zain", "David", "Bob", "thilak", "john", "jane"]
print("Original list:", students)
print()

students.append("Kevin")
print("After append:", students)
print()

new_students = ["Liam", "Mia"]
students.extend(new_students)
print("After extend:", students)
print()

students.remove("Bob")
print("After remove:", students)
print()

del students[2]
print("After del:", students)
print()

popped_student = students.pop(2)
print("After pop:", students)
print("Popped student:", popped_student)

Original list: ['Vijeth', 'Vikas', 'Zain', 'David', 'Bob', 'thilak', 'john', 'jane']

After append: ['Vijeth', 'Vikas', 'Zain', 'David', 'Bob', 'thilak', 'john', 'jane', 'Kevin']

After extend: ['Vijeth', 'Vikas', 'Zain', 'David', 'Bob', 'thilak', 'john', 'jane', 'Kevin', 'Liam', 'Mia']

After remove: ['Vijeth', 'Vikas', 'Zain', 'David', 'thilak', 'john', 'jane', 'Kevin', 'Liam', 'Mia']

After del: ['Vijeth', 'Vikas', 'David', 'thilak', 'john', 'jane', 'Kevin', 'Liam', 'Mia']

After pop: ['Vijeth', 'Vikas', 'thilak', 'john', 'jane', 'Kevin', 'Liam', 'Mia']
Popped student: David

Write a python program to find whether the given 2 strings are anagrams

In [ ]:
def Anagram(a, b):
  lista = list(a)
  listb = list(b)

  lista.sort()
  listb.sort()

  if(lista == listb):
    print("The strings are a anagram!")
  else:
    print("The strings are not a anagram!")

def main():
  a = input("String 1 : ")
  b = input("String 2 : ")

  Anagram(a, b)

main()

String 1 : hello
String 2 : world
The strings are not a anagram!

Write a program to find armstrong number

In [ ]:
def Armstrong(n):
  original_n = n
  sum = 0
  while(n != 0):
    a = n % 10
    sum = sum + (a**len(str(original_n)))
    n = n // 10

  if(sum == original_n):
    print("This is an armstrong number")
  else:
    print("This is not an armstrong number")

def main():
  n = int(input("Num : "))
  Armstrong(n)

main()

Num : 92724
This is not an armstrong number